name: Docker Image CI

on:
  push:
    branches: [ main ]

jobs:

  build_and_push:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . -t planetariumhq/libplanet-seed:git-${{ github.sha }}
    - name: login
      run: docker login -u '${{ secrets.DOCKER_USERNAME }}' -p '${{ secrets.DOCKER_ACCESS_TOKEN }}'
    - name: push git version
      run: docker push planetariumhq/libplanet-seed:git-${{ github.sha }}
